/*Checkboxes styles*/
input[type="checkbox"] {
   &.checkbox-dib {
     display: none;
   }
}

input[type="checkbox"].checkbox-dib + label {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"].checkbox-dib + label:last-child { margin-bottom: 0; }

input[type="checkbox"].checkbox-dib + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid $blue;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"].checkbox-dib:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
