.email-wrapper{
	.mail-sidebar{
		background: $white-smoke;
		height: 100%;
		min-height: 100vh;
		padding:0;
		z-index:999;
		@media (max-width:769px){
			position:relative;
		}
		@include media-breakpoint-down(sm) {
			position: fixed;
			z-index: 99;
			background: color(white);
			width: 45%;
			min-width: 300px;
			left:-100%;
			display:block;
			transition: 0.4s ease;
			-webkit-transition: 0.4s ease;
			-moz-transition: 0.4s ease;
		}
		.menu-bar{
			width: 100%;
			float: right;
			height:100%;
			min-height:100%;
			@include media-breakpoint-down(sm) {
				min-height: 100vh;
				max-height: 100%;
				height:auto;
				overflow-y: auto;
				overflow-x: hidden;
			}
			.logo{
				display:block;
				font-size:35px;
				color: $darkslategray;
				padding: 10px 15px;
				text-align:left;
				position:relative;
				img{
					max-width:100%;
				}
			}
			.menu-items{
				padding: 0;
				margin-bottom: 0;
				height: auto;
				list-style-type: none;
				li{
					padding: 10px 15px;
					transition: 0.4s;
					position: relative;
					&:hover{
						background: rgba(240, 244, 249, 0.8);
					}
					a{
						color: lighten($darkslategray, .73);
						font-size: 15px;
						text-decoration:none;
						i{
							margin-right:8px;
							font-size: 1.3rem;
							line-height: 1;
						}
					}
					.badges{
						height: 22px;
						width: 23px;
						@include border-radius(50%);
						text-align: center;
						position: absolute;
						right: 20px;
						font-size: 13px;
						line-height: 19.5px;
						&.red {
							background: theme-color(danger);
							border: 2px solid theme-color(danger);
							color:color(white);
						}
						&.green {
							background: theme-color(success);
							border: 2px solid theme-color(success);
							color:color(white);
						}
						&.orange {
							background: theme-color(warning);
							border: 2px solid theme-color(warning);
							color: color(white);
						}
					}
					&.active {
						background: color(gray-lightest);
						a {
							color: theme-color(primary);
						}
					}
					&.compose {
						&:hover{
							background: transparent;
						}
					}
				}
			}
			.online-status{
				margin-top: 1rem;
				.chat{
					font-size: 14px;
					color: theme-color(primary);
					margin-bottom: 0;
					font-family: 'source-sans-pro-semibold', sans-serif;
				}
				.status{
					height:10px;
					width:10px;
					@include border-radius(100%);
					display: inline-flex;
					justify-content: flex-start;
					transform: translateX(-43px) translateY(2px);
					&:after{
						font-size:12px;
						color:$darkslategray;
						margin: -5px 0 0 18px;
					}
				}
				.status.offline{
					background: theme-color(danger);
					&:after{
						content:"Offline";
					}
				}
				.status.online{
					background: theme-color(success);
					&:after{
						content:"Online";
					}
				}
			}
		}
	}
	.sidebar.open{
		left:0;
	}
}
