.custom-legend-container {
  min-height: 500px;
  position:relative;
  margin-bottom: 45px;
  &.small-chart-container {
    min-height: 310px;
    margin-bottom: 0;
  }
  .legend-right,
  .legend-top{
    position:absolute;
    width:100%;
    ul {
      padding-left: 0;
      li {
        cursor:pointer;
        margin: 10px 4px;
        color: $light-text-color;
        span {
          position:relative;
          width: 13px;
          height: 13px;
          margin-right: 15px;
          border-radius:13px;
          color:white;
          z-index:2;
          display: inline-block;
        }
      }
    }
  }
  .legend-right {
    top: 30%;
    left: calc(100% + 15px);
  }
  .legend-top{
    top:0;
    left: 0;
    ul {
      li {
        display: inline-block;
      }
    }
    + canvas {
      position: absolute;
      top: 45px;
      height: calc(100% - 45px);
    }
  }
}
