.google-chart-container {
  .google-charts {
    width: 100%;
    height: 280px;
    min-height: 280px;
    min-width: 100%;

    * {
      width: 100%;
      min-width: 100%;
    }
  }
}
