.lightGallery{
  width: 100%;
  .image-tile{
    margin-bottom: 30px;
    position: relative;
    .demo-gallery-poster{
      @extend .d-flex;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      img{
        display: block;
        margin: auto;
        width: 40%;
        max-width: 60px;
        min-width: 20px;
      }
    }
    img{
      max-width: 100%;
      width: 100%;
    }
  }
}
