.portfolio-grid-2{
  margin-left: 0;
  margin-right: 0;
  .portfolio-tile{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    img{
      max-width: 100%;
      width: 100%;
      z-index: 2;
      @include transition-duration(0.4s);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
    .tile-details{
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);
      @include flex-direction(row);
      @include transition-duration(0.4s);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px 20px;
      z-index: 0;
      .project-name{
        text-align: center;
        display: block;
        color: theme-color(dark);
        margin-bottom: 0;
        font-weight: 500;
        font-size: 1rem;
        @extend %ellipsor;
      }
      .btn{
        border: 2px solid theme-color(dark);
        padding: 7px 12px;
        color: theme-color(dark);
        font-weight: 500;
        font-size: 0.75rem;
        @include border-radius(20px);
      }
    }
    &:hover{
      img{
        -webkit-transform: translateY(-62px);
        transform: translateY(-62px);
        -webkit-box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.75);
      }
    }
  }
}
