.search-result{
  .search-field{
    input[type="text"]{}
    button{}
  }
  .search-completed{
    margin-bottom: 10px;
    margin-top: 40px;
    h2{
      color: theme-color(dark);
      font-size: 1.13rem;
    }
    h5{
      font-size: 0.94rem;
      font-weight: 500;
      color: theme-color(dark);
    }
  }
  .results{
    @extend .container-fluid;
    @include display-flex;
    @include flex-direction(column);
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lighten(color(gray),60%);
    &:first-child{
      margin-top: 40px;
    }
    .site-title{
      margin-bottom: 0;
      font-size: 0.88rem;
      color: theme-color(primary);
      font-weight: 600;
    }
    .page-url{
      font-size: 0.88rem;
      color: theme-color(dark);
      font-weight: 500;
      margin-bottom: 0;
    }
    .page-description{
      font-size: 0.88rem;
      font-weight: 500;
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
