.wizard {
    display: block;
    width: 100%;
    overflow: hidden;
    a {
        outline: 0;
    }
    ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
        >li {
            display: block;
            padding: 0;
        }
    }
    >.steps {
        .current-info {
            position: absolute;
            left: -999em;
        }
        position: relative;
        display: block;
        width: 100%;
        .number {
            font-size: 1.429em;
        }
        >ul {
            >li {
                width: 25%;
                float: left;
            }
        }
        a {
            display: block;
            width: auto;
            margin: 0 0.5em 0.5em;
            padding: 1em 1em;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            &:active {
                display: block;
                width: auto;
                margin: 0 0.5em 0.5em;
                padding: 1em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .disabled {
            a {
                background: #eee;
                color: #aaa;
                cursor: default;
                &:hover {
                    background: #eee;
                    color: #aaa;
                    cursor: default;
                }
                &:active {
                    background: #eee;
                    color: #aaa;
                    cursor: default;
                }
            }
        }
        .current {
            a {
                background: theme-color("primary");
                color: #fff;
                cursor: default;
                &:hover {
                    background: theme-color("primary");
                    color: #fff;
                    cursor: default;
                }
                &:active {
                    background: theme-color("primary");
                    color: #fff;
                    cursor: default;
                }
            }
        }
        .done {
            a {
                background: lighten(theme-color("primary"), 20%);
                color: #fff;
                &:hover {
                    background: lighten(theme-color("primary"), 20%);
                    color: #fff;
                }
                &:active {
                    background: lighten(theme-color("primary"), 20%);
                    color: #fff;
                }
            }
        }
        .error {
            a {
                background: theme-color(danger);
                color: #fff;
                &:hover {
                    background: theme-color(danger);
                    color: #fff;
                }
                &:active {
                    background: theme-color(danger);
                    color: #fff;
                }
            }
        }
    }
    >.content {
        >.title {
            position: absolute;
            left: -999em;
        }
        background: #eee;
        display: block;
        margin: 0.5em;
        min-height: 35em;
        overflow: hidden;
        position: relative;
        width: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        >.body {
            float: left;
            position: absolute;
            width: 95%;
            height: 95%;
            padding: 2.5%;
            ul {
                list-style: disc !important;
                >li {
                    display: list-item;
                }
            }
            >iframe {
                border: 0 none;
                width: 100%;
                height: 100%;
            }
            input {
                display: block;
                border: 1px solid $border-color;
            }
            input[type="checkbox"] {
                display: inline-block;
            }
            input.error {
                background: rgb(251, 227, 228);
                border: 1px solid lighten(theme-color(danger), 20%);
                color: theme-color(danger);
            }
            label {
                display: inline-block;
                margin-bottom: 0.5em;
            }
            label.error {
                color: theme-color(danger);
                display: inline-block;
                margin-left: 1.5em;
            }
        }
    }
    >.actions {
        >ul {
            >li {
                float: left;
                margin: 0 0.5em;
            }
            display: inline-block;
            text-align: right;
        }
        position: relative;
        display: block;
        text-align: right;
        width: 100%;
        a {
            background: theme-color("primary");
            color: #fff;
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &:hover {
                background: theme-color("primary");
                color: #fff;
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            &:active {
                background: theme-color("primary");
                color: #fff;
                display: block;
                padding: 0.5em 1em;
                text-decoration: none;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
        }
        .disabled {
            a {
                background: #eee;
                color: #aaa;
                &:hover {
                    background: #eee;
                    color: #aaa;
                }
                &:active {
                    background: #eee;
                    color: #aaa;
                }
            }
        }
    }
    &.vertical {
        >.steps {
            display: inline;
            float: left;
            width: 30%;
            >ul {
                >li {
                    float: none;
                    width: 100%;
                }
            }
        }
        >.content {
            display: inline;
            float: left;
            margin: 0 2.5% 0.5em 2.5%;
            width: 65%;
        }
        >.actions {
            display: inline;
            float: right;
            margin: 0 2.5%;
            width: 95%;
            >ul {
                >li {
                    margin: 0 0 0 1em;
                }
            }
        }
    }
}

.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
    a {
        outline: 0;
    }
    ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
        >li {
            display: block;
            padding: 0;
        }
    }
    >.steps {
        .current-info {
            position: absolute;
            left: -999em;
        }
        position: relative;
        display: block;
        width: 100%;
        >ul {
            position: relative;
            margin: 6px 0 0 0;
            top: 1px;
            z-index: 1;
            >li {
                float: left;
                margin: 5px 2px 0 0;
                padding: 1px;
                -webkit-border-top-left-radius: 5px;
                -webkit-border-top-right-radius: 5px;
                -moz-border-radius-topleft: 5px;
                -moz-border-radius-topright: 5px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                &:hover {
                    background: #edecec;
                    border: 1px solid #bbb;
                    padding: 0;
                }
                >a {
                    color: #5f5f5f;
                    display: inline-block;
                    border: 0 none;
                    margin: 0;
                    padding: 10px 30px;
                    text-decoration: none;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            >li.current {
                background: #fff;
                border: 1px solid #bbb;
                border-bottom: 0 none;
                padding: 0 0 1px 0;
                margin-top: 0;
                >a {
                    padding: 15px 30px 10px 30px;
                }
            }
        }
    }
    >.content {
        >.title {
            position: absolute;
            left: -999em;
        }
        position: relative;
        display: inline-block;
        width: 100%;
        height: 35em;
        overflow: hidden;
        border-top: 1px solid #bbb;
        padding-top: 20px;
        >.body {
            float: left;
            position: absolute;
            width: 95%;
            height: 95%;
            padding: 2.5%;
            ul {
                list-style: disc !important;
                >li {
                    display: list-item;
                }
            }
        }
    }
}
