.auth-pages {
	h3 {
		font-size: 1.56rem;
		font-weight: 500;
		line-height: 1.3;
		color: #000;
	}
	.form-group{
		margin-bottom: 13px;
		label{
			font-size: 0.88rem;
			line-height: 15px;
			margin-bottom: 6px;
		}
		.form-control {
			height: 48px;
			@include border-radius(3px);
			border:1px solid $border-color;
		}
	}
	.icheck-square {
		margin-bottom: 0;

		label {
			font-size: 13px;
			line-height: 2.31;
			text-align: left;
			color: #737475;
			margin-left: 12px;
		}
	}

	.forgot-pass {
		font-size: 13px;
		line-height: 2.31;
		text-align: right;
		color: #1c2c3f;
	}

	button {
		font-size: 0.84rem;
		font-weight: 500;

		&.enter-btn {
			height: 45px;
			margin-bottom: 28px;
		}
	}
	.sign-up{
		font-size: 1rem;
		margin-top: 30px;
		margin-bottom: 0;
		a{
			color: theme-color(primary);
		}
	}
	.terms{
		font-size: 1rem;
		text-align: center;
		margin-top: 23px;
		margin-bottom: 0;
		a{
			color: inherit;
			text-decoration: underline;
		}
	}
	&.option-2,
	&.login-2{
		padding: 0;
		height: 100%;
		min-height: 100vh;
		width: 100%;
		.card{
			min-height: 100vh;
		}
		&.option-2{
			background-image: url('../images/samples/Login_bg2.jpg');
			background-size: cover;
		}
		&.login-2{
			background-image: url('../images/samples/Login_bg.jpg');
			background-size: cover;
			background-position: right bottom;
		}
	}
}
