html, body {
  height: 100%;
}
.full-height {
  height: 100%;
}

.btnLogin
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #ad2330;
}

.softwarename {
	font-size: 25px;
}
.npd {
    color: #bd2130;
    font-weight: 700;
    padding-right: 6px;	
}
.frlogin{
	margin-top: 30px !important;
	margin:auto;
}
.btnLogin{
    margin-left: 25%;
    margin-top: 5%;
}
@media screen and (min-width: 1100px){
	.loginform{
		margin: auto;
		width: 30%;
	}
	.logoprime {
		margin-top: 25%;
	}
}
@media screen and (max-width: 600px) {
	.logoprime{
		margin: auto;
		width: 30%;
	}
	.loginform{
		margin-top: 25%;
	}
	.softwarename{
		margin: auto;
		width: 50%;
	}
	.frlogin{
		width: 80%;
	}
	
}
