.col-md-8 .form-control{
	width: 100%;
}
.width250 {
	width: 250px;
}
.pending{
	margin-top: 20px;
	background-color: yellow;
}
.top10{
	margin-top: 10px;
}
.Cancel{
	padding: 2px 10px;
    background: #e54b4d;
    border-radius: 10px;
}
.Warning{
	padding: 2px 10px;
    background: #ffff00;
    border-radius: 10px;
}
.Delivered{
	padding: 2px 10px;
    background: #1c7430;
    border-radius: 10px;
}
.bold {
	font-weight: bold;
}
th, td {
/* 	white-space: nowrap; */
}

div.dataTables_wrapper {
/* 	width: 800px; */
	margin: 0 auto;
}

tr {
/* 	height: 50px; */
}

p{
	margin-bottom: 0 !important;
}
form .formgetone{
	width: 500px;
	margin-left: 30px;
}
.image img{
	width: 200px;
	height: 220px;
	padding-top: 50px;
}
.form-inline .col-6 label{
	justify-content: left;
}
.col-6 .form-inline .col-md-8 .form-control{
	width: 100%;
}
.btn-close-new, .btn-close-new-satellite,.btn-close-new-gallery{
	float: right;
}
.col-6 .form-inline .col-md-8 select{
	width: 100%;
}
.btn-success .top20{
	margin-top: 20px;
}
.bottom20{
	margin-bottom: 20px;
}
.it .btn-orange
{
	background-color: blue;
	border-color: #777!important;
	color: #777;
	text-align: left;
  	width:100%;
}
.it input.form-control
{
	
	border:none;
  margin-bottom:0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
.it .form-control:focus
{
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileevidence{
	max-width: 90%;
}
.max100{
	max-width: 100%;
}
.col-6 .col-sm-8{
	flex: 0 0 100%;
    max-width: 100%;
}
.gallery .row form{
	width: 100%;
	margin-bottom: 20px;
}
.fullstat, .onlyimage, .onlyimageedit, .fullstatedit{
	width: 100%;
	margin-left:0px;
}
.http-error {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.http-error .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.http-error .container a {
    display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}