<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>


  <th:block th:replace="fragments/menu:: menu"/>

	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Distributors</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<button type="button" id = "btnAdd" class = "btn btn-primary btnAddDis" data-toggle="modal" data-target="#adddistributormodal" th:text = "Add"></button>
	<div class="importbtn">
	<form th:action="@{/admin/uploadfile}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport"
					th:text="Import"></button>
			</div>
			<div class="">
				<input type="file" name="file" id="file" class="form-control"
					required>
			</div>
		</div>
	</form>
	</div>
	<div class="importbtn">
	<form th:action="@{/admin/uploadsaledata}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="uploadsaledata" type="submit" class="btn btn-info btnimport"
					th:text="Sale"></button>
			</div>
			<div class="">
				<input type="file" name="filesale" id="filesale" class="form-control"
					required>
			</div>
		</div>
	</form>
	</div>
	<div class="table-responsive">
		<table id="tabledistributor" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>Full name</th>
				<th>Short name</th>
				<th>Area</th>
				<th>Province</th>
				<th>Address</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Sale</th>
				<th>Action</th>
			</tr>
			</thead>
			
			<tbody>
				<tr data-th-each="distributor : ${lsDistributor}">
					<td data-th-text="${distributor.id}" class="distributorid"></td>
					<td data-th-text="${distributor.fullname}" class="fullname"></td>
					<td data-th-text="${distributor.shortname}" class="shortname"></td>
					<td data-th-text="${distributor.area}" class="area"></td>
					<td data-th-text="${distributor.province}" class="province"></td>
					<td data-th-text="${distributor.address}" class="address"></td>
					<td data-th-text="${distributor.phone}" class="phone"></td>
					<td data-th-text="${distributor.email}" class="email"></td>
					<td data-th-text="${distributor.sale}" class="sale"></td>
					<td>
						<button type="button" id = "btnEditDis" class = "btn btn-primary btnEditDis" data-toggle="modal" data-target="#editdismodal" th:text = "Edit" style="margin-top: 10px;"></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Modal -->
  <div class="modal fade" id="adddistributormodal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Add Distributor</h4>
        </div>
        <form th:action="@{/admin/adddistributor}" method=POST>
        <div class="modal-body">
			<div class="form-group">
			  <label for="name">Id:</label>
			  <input type="text" class="form form-control" id="id" name = "id" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Full name:</label>
			  <input type="text" class="form form-control" id="fullname" name = "fullname" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Short name:</label>
			  <input type="text" class="form form-control" id="shortname" name = "shortname">
			</div>
			<div class="form-group">
			  <label for="name">Area:</label>
			  <select name="area" required="required" class ="right">
				<option th:each="area : ${lsArea}"
					th:value="${area.name}" th:text="${area.name}"></option>
			</select>
			</div>
			<div class="form-group">
			  <label for="name">Province:</label>
			  <select name="province" required="required" class ="right">
				<option th:each="province : ${lsProvince}"
					th:value="${province}" th:text="${province}"></option>
			</select>
			</div>
			<div class="form-group">
			  <label for="name">Address:</label>
			  <input type="text" class="form form-control" id="address" name = "address">
			</div>
			<div class="form-group">
			  <label for="name">Email:</label>
			  <input type="Email" class="form form-control" id="email" name = "email">
			</div>
			<div class="form-group">
			  <label for="name">Phone: </label>
			  <input type="text" class="form form-control" id="phone" name = "phone">
			</div>
			<div class="form-group">
			  <label for="name">Sale:</label>
			  <select name="sale" required="required" class ="right">
				<option th:each="sale : ${lsSale}"
					th:value="${sale.username}" th:text="${sale.username}" class = "saleemail"></option>
			</select>
			</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="editdismodal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Distributor</h4>
        </div>
        <form th:action="@{/admin/editdistributor}" method=POST>
        <div class="modal-body">
			<div class="form-group">
			  <input type="hidden" class="form form-control" id="editid" name = "editid">
			</div>
			<div class="form-group">
			  <label for="name">Full name:</label>
			  <input type="text" class="form form-control" id="editfullname" name = "editfullname" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Short name:</label>
			  <input type="text" class="form form-control" id="editshortname" name = "editshortname" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Address:</label>
			  <input type="text" class="form form-control" id="editaddress" name = "editaddress" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Email:</label>
			  <input type="Email" class="form form-control" id="editemail" name = "editemail">
			</div>
			<div class="form-group">
			  <label for="name">Phone: </label>
			  <input type="text" class="form form-control" id="editphone" name = "editphone" required="required">
			</div>
			<div class="form-group editsalediv">
			  <label for="name">Sale:</label>
			  <select name="editsale" required="required" class ="right">
				<option th:each="sale : ${lsSale}"
					th:value="${sale.username}" th:text="${sale.username}"></option>
			</select>
			</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
 
</html>