<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Allocation</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class="textcenter">Allocation</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}" />
		</div>
	</div>
	<div class = "actionpa">
	<div class="row">
		<div class="col-6">
		<form th:action="@{/admin/deletepamonth}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-danger"
							th:text="Delete"></button>
					</div>
					<div class="col-6 col-md-8">
						<input type="text" name="month" id="month" placeholder="Month"
							class="form form-control" required>
					</div>
				</div>
			</form>
		</div>
		<div class="col-6">
		<form th:action="@{/admin/uploadallocation}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-info btnimport"
							th:text="Import"></button>
					</div>
					<div class="col-6 col-md-8">
						<input type="file" name="file" id="file" class="form-control"
							required>
					</div>
				</div>
			</form>
		</div>
		</div>
	<div class="row">
		
		<div class="col-6">
		<form th:action="@{/admin/uploaddeletepa}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-danger"
							th:text="ImportDelete"></button>
					</div>
					<div class="col-6 col-md-8">
						<input type="file" name="file" id="file" class="form-control"
							required>
					</div>
				</div>
			</form>
		</div>
		<div class="col-6">
		<form th:action="@{/admin/deletepacode}" method=POST
				enctype="multipart/form-data">
				<div class="form-group form-inline">
					<div class="col-6 col-sm-4">
						<button id="upload" type="submit" class="btn btn-danger" name = "delete"
							th:text="Delete"></button>
						<button id="listall" type="submit" class="btn btn-info" name = "listall"
							th:text="ListAll"></button>
					</div>
					<div class="col-6 col-md-8">
						<input type="text" name="code" id="code"  placeholder="Code"
							class="form form-control" required>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
	<div class="table-responsive">
		<table id="tableallocation" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th style="display:none;">Id</th>
				<th>Product Code</th>
				<th>Month</th>
				<th>Shortname</th>
				<th>Tax Id</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="pa : ${lsProductAllocation}">
					<td style="display:none;" data-th-text="${pa.id}" class="id"></td>
					<td data-th-text="${pa.code}" class="code"></td>
					<td data-th-text="${pa.month}" class="month"></td>
					<td data-th-text="${pa.shortname}" class="shortname"></td>
					<td data-th-text="${pa.taxid}" class="taxid"></td>
					<td>
<!-- 					<form th:action="@{/admin/deletepa}" name ="formdelete" method = POST> -->
						<button id="deletepa" type="button" data-target="#ajaxdelete" class="btnDelete btn btn-danger" th:text ="Delete"></button>
						<br>
						<h4 class ="result"></h4>
<!-- 					</form> -->
				</td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>