<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sale Logged</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/buttons.dataTables.min.css}">
</head>
<body>

<div id="mySidebar" class="sidebar">
  <a href="#" class="closebtn" id="closebtn">×</a>
  <a th:href="@{/admin}">Distributors</a>
  <a th:href="@{/admin/user}">User</a>
  <a th:href="@{/admin/factory}">Factory</a>
  <a th:href="@{/admin/area}">Area</a>
  <a th:href="@{/admin/salevolume}">Sale Volume</a>
  <a th:href="@{/admin/sample}">Sample</a>
  <a th:href="@{/admin/product}">Products</a>
  <a th:href="@{/admin/allocation}">Allocation</a>
  <a th:href="@{/admin/authenlog}">Sale logged</a>
  <a th:href="@{/logout}">Logout</a>
</div>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Log</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class="importbtn searchusername top">
	<form th:action="@{/admin/searchlog}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<input type="text" name="username" id="username" class="form form-control" placeholder="username"
					required>
			</div>
			<div class="">
				<button id="search" type="submit" class="btn btn-info btnsearch"
					th:text="Search"></button>
			</div>
		</div>
	</form>
	</div>
	
	<div class="table-responsive">
		<table id="tablelog" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>User name</th>
				<th>Date logged</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="authenLog : ${authenLogs}">
					<td data-th-text="${authenLog.id}" class="id"></td>
					<td data-th-text="${authenLog.username}" class="username"></td>
					<td data-th-text="${authenLog.date}" class="date"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.buttons.min.js}"></script>
<script type="text/javascript"
th:src="@{/js/bootstrap/jszip.min.js}"></script>
<script type="text/javascript"
th:src="@{/js/bootstrap/pdfmake.min.js}"></script>
<script type="text/javascript"
th:src="@{/js/bootstrap/vfs_fonts.js}"></script>
<script type="text/javascript"
th:src="@{/js/bootstrap/buttons.html5.min.js}"></script>
<script type="text/javascript"
th:src="@{/js/bootstrap/dataTables.buttons.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>