<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Factory</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Factory</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class = "divAdd">
		<button type="button" id = "btnAdd" class = "btn btn-primary" data-toggle="modal" data-target="#addfactmodal" th:text = "Add"></button>
	</div>
	<div class="table-responsive">
		<table id="tablefactory" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th>Email</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="factory : ${lsFactory}">
					<td data-th-text="${factory.id}" class="id"></td>
					<td data-th-text="${factory.name}" class="name"></td>
					<td data-th-text="${factory.phonenumber}" class="phonenumber"></td>
					<td data-th-text="${factory.address}" class="address"></td>
					<td data-th-text="${factory.email}" class="email"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Modal -->
  <div class="modal fade" id="addfactmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Add factory</h4>
        </div>
        <form th:action="@{/admin/addfactory}" method=POST>
        <div class="modal-body">
          <div class="form-group">
			  <label for="id">Id:</label>
			  <input type="text" class="form form-control" id="id" name = "id" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Name:</label>
			  <input type="text" class="form form-control" id="name" name = "name" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Phone Number:</label>
			  <input type="text" class="form form-control" id="phonenumber" name = "phonenumber">
			</div>
			<div class="form-group">
			  <label for="name">Email:</label>
			  <input type="email" class="form form-control" id="email" name = "email">
			</div>
			<div class="form-group">
			  <label for="name">Address:</label>
			  <textarea rows="3" cols="" class="form form-control" id="address" name = "address"></textarea>
			</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
 
</html>