<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Products</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Products</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class= "top12">
		<form th:action="@{/admin/correctproduct}" method=GET
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btncorrect"
					th:text="Correct"></button>
			</div>
		</div>
	</form>
	</div>
	<div class="importbtn">
	<form th:action="@{/admin/uploadproduct}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport"
					th:text="Import"></button>
			</div>
			<div class="">
				<input type="file" name="file" id="file" class="form-control"
					required>
			</div>
		</div>
	</form>
	</div>
	
	<div class="table-responsive">
		<table id="tableproduct" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Code</th>
				<th>Size</th>
				<th>Factory</th>
				<th>Date</th>
				<th>Classify</th>
				<th>Description</th>
				<th>Effect</th>
				<th>URL</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="product : ${products}">
					<td data-th-text="${product.code}" class="code"></td>
					<td data-th-text="${product.size}" class="size"></td>
					<td data-th-text="${product.factory}" class="factory"></td>
					<td data-th-text="${product.monthnpd}" class="monthnpd"></td>
					<td data-th-text="${product.classify}" class="classify"></td>
					<td data-th-text="${product.description}" class="description"></td>
					<td data-th-text="${product.effect}" class="effect"></td>
					<td data-th-text="${product.url}" class="url"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>