<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Report</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>

	
	<form th:action="@{/admin/exportdata}" method=GET
		enctype="multipart/form-data">
		<button id="export" type="submit" class="btn btn-info"
			th:text="ChiPhuongReport"></button>
	</form>
	<br>
	<form th:action="@{/admin/exportdataarea}" method=GET
		enctype="multipart/form-data">
		<button id="export" type="submit" class="btn btn-info"
			th:text="AnhKhoaReport"></button>
	</form>
	<br>
	<form th:action="@{/admin/exportnpp}" method=GET
		enctype="multipart/form-data">
		<button id="export" type="submit" class="btn btn-info"
			th:text="NPPReport"></button>
	</form>
	<br>
	<form th:action="@{/admin/exportbyregion}" method=GET
		enctype="multipart/form-data">
		<select name="year">
			<option th:each="year : ${years}"
				th:value="${year}" th:text="${year}"></option>
		</select> 
		<select name="month">
			<option th:each="month : ${months}"
				th:value="${month}" th:text="${month}"></option>
		</select>
		<button id="export" type="submit" class="btn btn-info"
			th:text="ExportRegion"></button>
	</form>
	

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>