<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
</head>
<body>
	<div class= "container">
	
		<div class="centertext">
			<h3 class = "bottom20">Reset Password</h3>
		</div>
		<form th:action="@{/admin/resetpw}" method=POST>
			<div class="form-group">
					<input type="email" class="form form-control" placeholder="Email"
					name="username" required="required"/>
				
				</div>
				<div class="form-group">
					<input type="password" class="form form-control" placeholder="New password"
					name="newpw" required="required"/>
				</div>
				<div class = "centertext">
					<input type="submit" class="btn btn-success" value = "Reset">
				</div>
		</form>
	</div>
</body>
</html>