<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sale Volume</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Sale Volume</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class="importbtn">
	<form th:action="@{/admin/uploadsalevolume}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport"
					th:text="Import"></button>
			</div>
			<div class="">
				<input type="file" name="file" id="file" class="form-control"
					required>
			</div>
		</div>
	</form>
	</div>
	
	<div class="table-responsive">
		<table id="tablesalevolume" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Order</th>
				<th>PO number</th>
				<th>Request Date</th>
				<th>Customer</th>
				<th>Ordered Item</th>
				<th>Quantities</th>
				<th>M2</th>
				<th>Area</th>
				<th>Month</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="salevolume : ${saleVolumes}">
					<td data-th-text="${salevolume.orderno}" class="orderno"></td>
					<td data-th-text="${salevolume.ponumber}" class="ponumber"></td>
					<td data-th-text="${#dates.format(salevolume.requestdate, 'dd/MM/yyyy')}" class="requestdate"></td>
					<td data-th-text="${salevolume.fullname}" class="fullname"></td>
					<td data-th-text="${salevolume.orderitem}" class="orderitem"></td>
					<td data-th-text="${salevolume.quantities}" class="quantities"></td>
					<td data-th-text="${#numbers.formatDecimal(salevolume.squaremeter,0,'COMMA',2,'POINT')}" class="squaremeter"></td>
					<td data-th-text="${salevolume.area}" class="area"></td>
					<td data-th-text="${salevolume.month}" class="month"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>