<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sale</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
</head>
<body>
	<div class= "container">
		<div class ="headersale">
				<img alt="" th:src="@{/assets/images/prime.png}"/>
				<span class ="npdsale"> NPD </span>
				<div class="header-right"> <a th:href="@{/sale/salechangepw}"><span class = "loginname" data-th-text="${user.shortname}"></span></a></div>
		</div>
		<div class = "profile">
			<div class = "profiletext"> Profile</div>
		</div>
		<hr>
		<div class = "text40">
			<b data-th-text="${user.fullname}"></b>
		</div>
		<div class = "text30">
		<div class = "position top12">
			<b>Position: </b><span>Sale staff</span>
		</div>
		<div class = "email top12">
			<b>Email: </b><span data-th-text="${user.email}"></span>
		</div>
		<div class = "phone top12">
			<b>Phone: </b><span data-th-text="${user.phone}"></span>
		</div>
		</div>
		<div class = "distributor">
			<b class="text40">Distributors</b>
			<div class = "text30">
				<ul>
			      <li class = "lidis" th:each="distributor : ${distributors}">
			      	<a th:href="@{'/sale/distributor/' + ${distributor.id}}" data-th-text=${distributor.shortname}></a>
			      </li>
			    </ul>
			</div>
		</div>
	</div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>