<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SaleMarketing</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
</head>
<body>
	<div class= "container">
		<div class ="headersale">
				<img alt="" th:src="@{/assets/images/prime.png}"/>
				<span class ="npdsale"> NPD </span>
				<div class="header-right"> <a th:href="@{/logout}"><span class = "loginname">Marketing</span></a></div>
		</div>
		<br>
		<form th:action="@{/sale/exportbyregion}" method=GET
		enctype="multipart/form-data">
			<select name="year">
				<option th:each="year : ${years}"
					th:value="${year}" th:text="${year}"></option>
			</select> 
			<select name="month">
				<option th:each="month : ${months}"
					th:value="${month}" th:text="${month}"></option>
			</select>
			<button id="export" type="submit" class="btn btn-info"
				th:text="ExportRegion"></button>
		</form>
		<div class = "areadis">
		<th:block th:each="ad,state : ${areaDistributors}">
			<!-- Item -->
			<ul>
			<li class="item"><a data-toggle="collapse"
				th:href="'#collapse'+${state.index}" th:text="${ad.area}" class="glyphicon glyphicon-plus"></a></li>
			</ul>
			<div th:id="'collapse'+${state.index}"
				class="panel-collapse collapse distributorarea">
				<ul>
					<li class = "lidis" th:each="distributor : ${ad.distributors}"><a
						th:href="@{'/sale/distributor/' + ${distributor.id}}"
						data-th-text=${distributor.shortname}></a></li>
				</ul>
			</div>
		</th:block>
		</div>
	</div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>