<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sale</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>
	<div class= "container">
	<div class ="headersale">
		<a th:href="@{/sale}"><img alt="" th:src="@{/assets/images/prime.png}"/></a>
		<span class ="npdsale"> NPD </span>
		<div class="header-right"> <a th:href="@{/sale/salechangepw}"><span class = "loginname" data-th-text="${user.shortname}"></span></a></div>
	</div>
	<div class= "infodis">
		<span class = "hinfo">Nhà phân phối </span><span class = "hinfo textcolor"> <a th:href="@{'/sale/distributor/' + ${distributor.id}}" data-th-text=${distributor.shortname}></a></span>
	</div>
<!-- 	<div class = "search"> -->
<!-- 		<select name="year" required="required"> -->
<!-- 			<option th:each="year : ${years}" -->
<!-- 				th:value="${year}" th:text="${year}"></option> -->
<!-- 		</select> -->
<!-- 	</div> -->
		<form th:action="@{/sale/searchsample}" method=POST
				enctype="multipart/form-data">
	<div class = "searchinfodis">
		<input type = "hidden" name="id" id = "id" th:field="${distributor.id}">
		<div class = "line1">
			<b>Thời gian: </b> 
			<select name="year">
				<option th:each="year : ${years}"
					th:value="${year}" th:text="${year}" th:selected="${year==dYear}"></option>
			</select> 
			<select name="month">
				<option th:each="month : ${months}"
					th:value="${month}" th:text="${month}" th:selected="${month==dMonth}"></option>
			</select>
			<div class = "right"><b>Nhà máy: </b>
				<select name="factory">
					<option th:each="factory : ${lsFactory}"
						th:value="${factory.id}" th:text="${factory.name}" th:selected="${factory.id==dFactory}"></option>
				</select>
			</div>
		</div>
		<div class = "line2">
			<b>Số lượng SKU: </b> <span th:text = "${skunumber}"></span> 
			<div class = "right"><b>Kích cỡ: </b> 
				<select name="size">
					<option th:each="size : ${productSize}"
						th:value="${size}" th:text="${size}" th:selected="${size==dSize}"></option>
				</select>
			</div>
		</div>
		<div class = "line2">
			<b>SKU triển khai: </b> <span th:text = "${salesku}"></span> (<span th:text = "${percent}"></span>%)
		</div>
	</div>
	<div class="searchbtn centertext">
		<button type="submit" class="btn btnsearch">Tìm kiếm</button>
	</div>
		</form>
	<hr>
	<span class = "bpb textcolor centertext"> Bảng Phân Bổ</span>
	</div>
	<div class="table-responsive">
		<table id="tableallocatedis" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>SKU</th>
<!-- 					<th>Period</th> -->
<!-- 					<th>Phân Bổ</th> -->
					<th>Ngày đầu tiên BH của SKU</th>
					<th>Ngày cấp mẫu</th>
					<th>MTD (m2)</th>
					<th>YTD (m2)</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="std : ${sampledisTables}">
					<td>
						<a th:if="${std.skuimage != null}" th:href="${std.skuimage}" target="_blank"> <span data-th-text="${std.sku}" class="sku"></span> </a>
						<span th:if="${std.skuimage == null}" data-th-text="${std.sku}" class="sku"></span>
					</td>
<!-- 					<td align="center"> -->
<!-- 						<input th:if="${std.allocated} == true" type="checkbox" checked="checked"> -->
<!-- 						<input th:unless="${std.allocated} == true" type="checkbox"> -->
<!-- 					</td> -->
					<td data-th-text="${#dates.format(std.firstsale, 'yyyy/MM/dd')}" class="firstsale"></td>
					<td data-th-text="${#dates.format(std.dateSample, 'yyyy/MM/dd')}" class="dateSample"></td>
					<td data-th-text="${std.mtd}" class="mtd"></td>
					<td data-th-text="${std.ytd}" class="ytd"></td>
<!-- 					<td data-th-text="${#numbers.formatDecimal(salevolume.squaremeter,0,'COMMA',2,'POINT')}" class="squaremeter"></td> -->
				</tr>
			</tbody>
		</table>
	</div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>