<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
</head>
<body>
	<div class= "container">
		<div class ="headersale">
				<a th:href="@{/sale}"><img alt="" th:src="@{/assets/images/prime.png}"/></a>
				<span class ="npdsale"> NPD </span>
				<div class="header-right"> <a th:href="@{/logout}"><span class = "loginname">Logout</span></a></div>
		</div>
		<div class = "profile">
			<div class = "profiletext"> Profile</div>
		</div>
		<hr>
		<div class = "text40">
			<b data-th-text="${user.fullname}"></b>
		</div>
		<div class = "text30">
		<div class = "position top12">
			<b>Position: </b><span>Sale staff</span>
		</div>
		<div class = "email top12">
			<b>Email: </b><span data-th-text="${user.email}"></span>
		</div>
		<div class = "phone top12">
			<b>Phone: </b><span data-th-text="${user.phone}"></span>
		</div>
		</div>
		<div class = "changepw">
			<div class="centertext">
				<h4 th:if="${error != ''}" th:text = "${error}" class = "alert alert-danger"></h4>
				<h4 th:if="${success != ''}" th:text = "${success}" class = "alert alert-primary"></h4>
			</div>
			<div class="centertext">
				<h3 class = "bottom20">Change Password</h3>
			</div>
			<form th:action="@{/sale/changepw}" method=POST>
				<div class="form-group">
					<input type="password" class="form form-control" placeholder="Old password"
					name="oldpw" required="required"/>
				
				</div>
				<div class="form-group">
					<input type="password" class="form form-control" placeholder="New password"
					name="newpw" required="required"/>
				</div>
				<div class="form-group">
					<input type="password" class="form form-control" placeholder="Re-enter password"
					name="renewpw" required="required"/>
				</div>
				<div class = "centertext">
					<input type="submit" class="btn btn-success" value = "Change">
				</div>
			</form>
		</div>
	</div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</body>
</html>