<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sample</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">Sample</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class="importbtn">
	<form th:action="@{/admin/uploadsample}" method=POST
				enctype="multipart/form-data">
		<div class="form-group form-inline">
			<div class="">
				<button id="upload" type="submit" class="btn btn-info btnimport"
					th:text="Import"></button>
			</div>
			<div class="">
				<input type="file" name="file" id="file" class="form-control"
					required>
			</div>
		</div>
	</form>
	</div>
	
	<div class="table-responsive">
		<table id="tablesample" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>Order</th>
				<th>Invoice</th>
				<th>Date</th>
				<th>Customer</th>
				<th>Item</th>
				<th>Quantity</th>
				<th>Grade</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="sample : ${samples}">
					<td data-th-text="${sample.orderno}" class="sample"></td>
					<td data-th-text="${sample.invoice}" class="invoice"></td>
					<td data-th-text="${#dates.format(sample.date, 'dd/MM/yyyy')}" class="date"></td>
					<td data-th-text="${sample.customer}" class="customer"></td>
					<td data-th-text="${sample.item}" class="item"></td>
					<td data-th-text="${sample.quantity}" class="quantity"></td>
					<td data-th-text="${sample.grade}" class="grade"></td>
				</tr>
			</tbody>
		</table>
	</div>

<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
</html>