<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/jquery.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/fixedColumns.dataTables.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/select.dataTables.min.css}">
</head>
<body>

 <th:block th:replace="fragments/menu:: menu"/>
	<div class="header">
		<button class="openbtn logo" id="openbtn" title="Menu">☰</button>
		<b class = "textcenter">User</b>
		<div class="header-right">
			<img alt="" th:src="@{/assets/images/prime.png}"/>
		</div>
	</div>
	<div class = "divAdd">
		<button type="button" id = "btnAdd" class = "btn btn-primary" data-toggle="modal" data-target="#addusermodal" th:text = "Add"></button>
	</div>
	<div class="table-responsive">
		<table id="tableuser" class="table table-striped table-bordered">
			<thead>
			<tr>
				<th>User name</th>
				<th>Full name</th>
				<th>Short name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
				<tr data-th-each="user : ${lsUser}">
					<td data-th-text="${user.username}" class="username"></td>
					<td data-th-text="${user.fullname}" class="fullname"></td>
					<td data-th-text="${user.shortname}" class="shortname"></td>
					<td data-th-text="${user.address}" class="address"></td>
					<td data-th-text="${user.email}" class="email"></td>
					<td data-th-text="${user.phone}" class="phone"></td>
					<td>
						<form th:action="@{/admin/deleteuser}" name ="formdelete" method = POST>
						<input type="hidden" name="username" th:value="${user.username}">
						<button id="delete" type="submit" class="btn btn-danger" th:text ="Delete"></button>
					</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Modal -->
  <div class="modal fade" id="addusermodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
<!--           <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Add User</h4>
        </div>
        <form th:action="@{/admin/adduser}" method=POST>
        <div class="modal-body">
			<div class="form-group">
			  <label for="name">User name:</label>
			  <input type="text" class="form form-control" id="username" name = "username" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Password:</label>
			  <input type="password" class="form form-control" id="password" name = "password" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Full name:</label>
			  <input type="text" class="form form-control" id="fullname" name = "fullname" required="required">
			</div>
			<div class="form-group">
			  <label for="name">Short name:</label>
			  <input type="text" class="form form-control" id="shortname" name = "shortname">
			</div>
			<div class="form-group">
			  <label for="name">Address:</label>
			  <input type="text" class="form form-control" id="address" name = "address">
			</div>
			<div class="form-group">
			  <label for="name">Email:</label>
			  <input type="Email" class="form form-control" id="email" name = "email">
			</div>
			<div class="form-group">
			  <label for="name">Phone</label>
			  <input type="text" class="form form-control" id="phone" name = "phone">
			</div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript"
		th:src="@{/js/bootstrap/jquery.dataTables.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/bootstrap/dataTables.select.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/dataTables.fixedColumns.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
<script type="text/javascript" th:src="@{/js/npd.js}"></script>
</body>
 
</html>