
//Roboto
@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/Roboto/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

//Source-sans-pro
@font-face {
  font-family: 'source-sans-pro-light';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'source-sans-pro-regular';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'source-sans-pro-semibold';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'source-sans-pro-bold';
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

//open sans
@font-face {
  font-family: 'open-sans-light';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'open-sans-regular';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'open-sans-semibold';
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'open-sans-bold';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
