.icons-list {
  padding: 15px;
  >div {
    padding: .5rem;
    text-align: center;
    i {
      display: block;
      font-size: 1.5rem;
      margin: .5rem 0;
    }
  }
}

.icon-grey-big {
  color: color(gray-light);
  &:before {
    font-size: 2.5rem;
  }
}
