.table {
  font-size: .9rem;
  td {
    vertical-align: middle;
  }
}

.btn-demo {
  .btn {
    @extend .mb-1, .mr-1;
  }
}

//settings
.settings {
  position: fixed;
  right: 0;
  z-index: 1;
  .settings-icon {
    font-size: 1.5rem;
    background: rgba(243, 66, 79, 0.66);
    color: theme-color("dark");
    @extend .rounded;
  }
  .card-settings {
    border: 1px solid color(gray-light)er;
    display: none;
    &.show {
      display: flex;
    }
    .pws_tabs_container {
      ul {
        &.pws_tabs_controll {
          li {
            a {
              border-color: rgba(243, 66, 79, 0.66);
              color: rgba(243, 66, 79, 0.66);
              padding: .3em 1.3em;
              &.pws_tab_active {
                background: rgba(243, 66, 79, 0.66);
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .rtl & {
    left: 0;
    right: auto;
  }
}
//settings end

#resizable-grid{
  .drag-item{
    position: relative;
    .dismiss{
      position: absolute;
      top: 7px;
      right: 25px;
      font-size: 15px;
      font-weight: bold;
      color: lighten(theme-color(danger), 10%);
      background: lighten(color(gray-light), 40%);
      height: 15px;
      width: 16px;
      line-height: 13px;
      cursor: pointer;
      text-align: center;
      @include border-radius(100%);
    }
  }
}
// Ecommerce Dashboard Components Starts
.count-stat{
	font-size: 30px;
	@include rotate(0);
	&.count-up{
		color: $green;
	}
}

.product-chart-wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	height: 92%;
	.products-chart{
		width: auto;
		display: inline-block;
		margin-right: 40px;
	}
}

.tickets-tab {
	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			display: block;
			border-bottom: $border-property;
			padding-top: 0.9rem;
			padding-bottom: 0.9rem;
			.details {
				@extend .d-flex;
				@extend .align-items-center;

				div.profile {
					max-width: 40px;
					width: 100%;
					margin-right: 10px;
					margin-bottom: auto;

					img {
						max-width: 100%;
						width: 100%;
						@include border-radius(100%);
					}
				}

				.t-content {
					width: 85%;
					max-width: 100%;
					.sender-content {
						@extend .d-flex;
						margin-right: 25px;


						p.sender-name {
							font-weight: 600;
							color: theme-color("primary");
							margin-right: 10px;
							margin-bottom: 0;
							white-space: nowrap;
						}

						p.ticket-no {
							font-weight: 500;
							margin-right: 5px;
							margin-bottom: 0;
						}

						p.subject {
							font-weight: 600;
							color: darken(color(gray-light), 30%);
							margin-bottom: 0;
							@extend %ellipsor;
						}
					}

					.message {
						p {
							color: lighten(color(gray-light), 5%);
							font-size: 0.9rem;
							@extend %ellipsor;
						}
					}
				}

				.actions {
          .dropdown-menu {
					    left: -90%;
					}
        }
			}
			.time-hist{
				p.Last-responded{
					font-weight: 400;
					color: lighten(color(gray-light), 5%);
					font-size: 0.9rem;
					margin-bottom: 0;
					margin-right: 20px;
          &:before{
						content: "Last Responded :";
						display: inline-block;
						margin-right: 10px;
					}
				}
				p.due-on{
					font-weight: 400;
					color: lighten(color(gray-light), 5%);
					font-size: 0.9rem;
					margin-bottom: 0;
					margin-right: 20px;
          &:before{
						content: "Due in :";
						display: inline-block;
						margin-right: 10px;
					}
				}
			}
		}
	}
}
// Dashboard Components Ends
